@import "../../styles/utilities";
.app {
  @extend .center;
  @extend .full;
  font-size: 2rem;
  font-weight: 900;
  &--header,
  &--footer {
    @extend .center;
    height: 4rem;
    width: 100%;
  }
  &--header {
    background-color: gold;
  }
  &--body {
    min-height: calc(100vh-8rem);
    flex: 1;
    background-color: grey;
    width: 100%;
    &__active {
      cursor: pointer;
      background: lightsalmon;
      margin: 10px;
    }
    &__inactive {
      cursor: not-allowed;
      background: lightgreen;
    }
  }
  &--footer {
    background-color: violet;
  }
}
